# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# Project ignores
bin/
dist/
testout/
testdata/Big%20Fish.fdx
testdata/Big%20Fish.fountain
testdata/Brick%20&%20Steel.fdx
testdata/Brick%20&%20Steel.fountain
testdata/The%20Last%20Birthday%20Card.fdx
testdata/The%20Last%20Birthday%20Card.fountain
