<!DOCTYPE html>
<html>
<head>
    {{- with .front_matter -}}<title>{{- .title -}}</title>{{- end }}
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
{{- with .front_matter -}}
<header>
{{- .title -}}
</header>
{{- end }}
<section>
{{ .content }}
</section>
<nav>
{{ .nav }}
</nav>
<footer>
copyright (c) 2017 all rights reserved.
Released under the BSD 2-Clause license
See: http://opensource.org/licenses/BSD-2-Clause
</footer>
</body>
</html>
