<!DOCTYPE html>
<html>
<head>
    <title>{{- .title -}}</title>
    <link href="/css/site.css" rel="stylesheet" />
</head>
<body>
<header>
{{ .title }}
</header>
<section>
{{ .content }}
</section>
<nav>
{{ .nav }}
</nav>
<footer>
copyright (c) 2017 all rights reserved.
Released under the BSD 2-Clause license
See: http://opensource.org/licenses/BSD-2-Clause
</footer>
</body>
</html>
